<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lepaking_system">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LepakingSystem">
        <activity android:name=".restaurant.activity.RestaurantMainActivity"
            android:theme="@style/Theme.LepakingSystem.NoActionBar">
        </activity>
        <activity android:name=".restaurant.activity.SignUpRestaurant" />
        <activity android:name=".restaurant.activity.LoginRestaurant" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileSetupActivity" />
        <activity android:name=".UserUpdateActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.LepakingSystem.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>